<div class="button-bar bar-stable audio-player-bar" ng-show="panelVisible && !audio.paused">
  <button class="button button-icon icon ion-ios-skipbackward" ng-click="back()"></button>
  <button class="button button-icon icon" ng-click="playpause()" ng-class="{'ion-ios-play': audio.paused,'ion-ios-pause': !audio.paused}"></button>
  <button class="button button-icon icon ion-ios-skipforward" ng-click="forward()"></button>
  <button class="button button-icon icon ion-ios-close-empty" ng-click="togglePanel()"></button>
<div class="player-progress-bar">
  <div class="player-progress" ng-style="{width: progress + '%'}"></div>
</div>
</div>
