<div class="button-bar bar-stable audio-player-bar" ng-show="!audio.paused">
  <button class="button button-icon icon positive ion-ios-skipbackward" ng-click="back()"></button>
  <button class="button button-icon icon positive" ng-click="playpause()" ng-class="{'ion-ios-play': audio.paused,'ion-ios-pause': !audio.paused}"></button>
  <button class="button button-icon icon positive ion-ios-skipforward" ng-click="forward()"></button>
<div class="player-progress-bar">
  <div class="player-progress" ng-style="{width: progress + '%'}"></div>
</div>
</div>

<!-- <h2>{{title}}</h2> -->
<!--     <a class="icon ion-music-note" style="font-size: 10em; color: #eeeeee;"></a> -->
<!--   {{audiosrc}} -->
<!--   <input min="0" max="{{audio.duration}}" step="0.01" type="range" ng-model="localTime" /> -->
<!--   <div class="progress" ng-style="progress"></div> -->
<!-- <div class="list"> -->
<!--   <div class="item item-button-left item-clear item-three-buttons"> -->
<!--     <button class="button button-clear icon" ng-click="playpause()" ng-class="[playpauseicon]"></button> -->
<!--     <button class="button button-clear icon button-second ion-volume-medium" ng-click="volumeSlider=!volumeSlider" ></button> -->
<!--     <span class="volume-slider" ng-show="volumeSlider" > -->
<!--       <input min="0" max="1" step="0.05" type="range" ng-model="volume.value" ng-change="chnageVolume()" /> -->
<!--       <div class="progress" ng-style="volume.slider"></div> -->
<!--     </span> -->
<!--     {{time}}/{{duration}} -->
<!--   </div> -->
<!-- </div> -->
